* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px, sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  padding: 20px;
}

div {
  width: 100%;
  justify-content: start;
}

div li {
  display: flex;
  align-items: center;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

/* =========== Style =========== */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.repo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  margin: 10px;
  width: 300px;
}

.repo--title {
  padding: 10px;
}

.repo--url a {
  text-decoration: none;
  color: rgb(124, 77, 77);
}
.repo--url span {
  font-weight: bold;
}

.repo--techs {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.repo--tech {
  padding: 2px 10px;
  border-radius: 5px;
  background: #59c181;
  color: #fff;
  margin: 2px;
}
